@model OnlineCheckbook.Models.Account

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Total Withdrawls")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWithdraws)
        </dd>

        <dt>
            @Html.Label("Total Deposits")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDeposits)
        </dd>

        <dt>
            @Html.Label("Current Balance")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>
    </dl>

    @Html.ActionLink("Add Expense", "Withdrawal", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Add Deposit", "Deposit", new { id = Model.Id }, new { @class = "btn btn-default" })
    
    <h4>Expenses</h4>
    <table class="table">
        <tr>
            <th>Transaction Id</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        @if (Model.Expenses.Count == 0)
        {
            <tr>
                <td colspan="4">
                    You have no expenses. Please add one!
                </td>
            </tr>
        }
        else
        {
            foreach (var transaction in Model.Expenses)
            {
            <tr>
                <td>
                    @Html.ActionLink("Link to Details", "ExpenseDetails", new { id = transaction.ExpenseID }, new { @class = "btn btn-link"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Date)
                </td>
            </tr>
            }
        }
    </table>            
</div>
